<div class="container">
  <h1>Quản lý sản phẩm</h1>
  <input type="text" (input)="getValue($event)" />
  <div *ngIf="status">Tên sản phẩm: {{ productName }}</div>
  <button class="btn btn-primary" (click)="changeStatus()">
    Change Status
  </button>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i">
        <td>{{ i + 1 }}</td>
        <td width="50"><img width="50" [src]="product.img" /></td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button class="btn btn-danger" (click)="removeItem(product._id)">
            Remove
          </button>
          <button (click)="getInfo(product)">Detail</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<hr />
<h2>Detail</h2>
<app-product-detail [data]="product"></app-product-detail>
<!-- const [product, setProduct] -->
<!-- <Component data={product} /> -->
