<form [formGroup]="formSignin" (ngSubmit)="onHandleSubmit()">
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input
            type="password"
            class="form-control"
            formControlName="password"
        />
    </div>
    <div
        *ngIf="
            formSignin.get('password')?.hasError('required') &&
            (formSignin.get('password')?.touched ||
                formSignin.get('password')?.dirty)
        "
    >
        Password is required
    </div>
    <button>Submit</button>
</form>
